{:deps true
 :builds {:diffs {:target     :browser
                  :output-dir "resources/public/js/"
                  :asset-path "/js"
                  :devtools   {:http-root          "resources/public"
                               :http-port          8080
                               :http-resource-root "."
                               :preloads           [devtools.preload]}
                  :modules    {:main {:init-fn ui/run}}}
          :test {:target    :node-test
                 :output-to "out/node-tests.js"
                 :ns-regexp "-test$"
                 :autorun   true}}}
